<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates voluptas eos temporibus veritatis sequi dolorum, omnis officia, ipsum, fugit accusamus soluta aliquam molestias corrupti corporis. Repellendus itaque et sed dolore.</p>
</body>
</html>