<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details Form</title>
    <link rel="stylesheet" href="../clientstyle.css"/>
</head>
<body>

<div class="form-container">
    <h1>User Details</h1>
    <form action="/updateDetails" method="POST">

        <div class="section">
            <label for="website">Website:</label>
            <input type="text" id="website" name="website" required>
            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>

            <label for="state">State:</label>
            <input type="text" id="state" name="state" required>

            <label for="country">Country:</label>
            <input type="text" id="country" name="country" required>

            <label for="zipcode">ZIP Code:</label>
            <input type="text" id="zipcode" name="zipcode" required>
        </div>

        <div class="section">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>

</body>
</html>
