<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="clientstyle.css"/>
</head>
<body>

    <%- include('../includes/nav.ejs' , { path : path}) %>
        <h1>Welcome <%= name %></h1>
        <img src="/<%= image %>" style="width: 350px; height: auto;">
</body>
</html>
