*{
    padding: 0;
    margin: 0;
    
}

body {
    background: #31222A;
    height: 150vh;
}

.container h2{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
    color: white;
    
}

.container{
    margin:auto;
    margin-top: 100px;
    background-color: #5B506E;
    border-radius: 40px;
    width: 100%;
    max-width: 480px;
    height: 100%;
    min-height: 550px;
    max-height: 580px;
    display: flex;
}

.concontent{
    margin: auto;
    align-items: center;
}

.signform  input ,  button {
    border:none;
    padding: 1rem;
    background-color: #fa82a6;
    border-radius: 40px;
    text-align: center;
    color: white;
    display: block; 
    margin: auto;
    width : 350px;
    max-width: 350px;
    height: 15px;
    margin-bottom: 15px;
    font-size: 1.25rem;
    line-height: 0.1em;
}



.signform button{
    padding : 1.5rem;
    margin-top: 32px;
    width : 200px;
    cursor: pointer;
    
}

.signform button:hover{
    background-color:#834457 ;
}

::placeholder{
    color: white;
    opacity: 0.5;
}

.logfor {
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: 1.2rem;
}

.logfor a{
    color : #fa82a6;
}

.logfor a:hover{

    color: azure;
}


.navstyle{
    background-color: #59424c;
    border: none;
    border-radius: 5px;
    padding: 0.8rem;
    
}

.navstyle a{
    background-color: #c0b2d7;
    border-radius: 25px;
    padding: 0.85rem;
    width: 100px;
    display: block;
    text-align: center;
    font-size: 1.25rem;
}

.navstyle a:hover{
    background-color: aliceblue;
}




/* .logfor a:visited{
    color: #fa82a6;
    
} */

@media only screen and (max-width: 768px) {

    .container {
        width: 90%;
        max-width: 80%;
    }

    .signform input, .signform button {
        max-width: 60%;
        width: 60%;
    }

    .signform button {
        padding: 1.5rem;
        margin-top: 32px;
        width: 50%;
        max-width: 60%;
        cursor: pointer;
    }

    .logfor p{
        font-size: 0.9rem;
    }

    .signform button:hover {
        background-color: #834457;
    }

}

