
<nav>
    <a href="/logout">Log Out</a>
    <a href="/addClient">Add Clients</a>
    <a href="/getClients">View Your Clients</a>
    <a href="/updateDetails">Add Your Details</a>
    <a href="/home">Home</a>
</nav>

