<nav class="navstyle">
    <a href="/AboutUs">About Us</a>
    <% if (typeof know !== 'undefined' && know === "yes") { %>
      <a href="/log">Login</a>
      <a href="/">Signup</a>
    <% } %>
  </nav>
  